<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="logo-title" routerLink="/schedules/month">
            <mat-icon aria-hidden="false">face</mat-icon>
            Barbearia Apps
        </span>
        <span class="spacer"></span>
        <nav>
            <a mat-button routerLink="/clients/list">
                <mat-icon>people</mat-icon>
                Clientes
            </a>
            <a mat-button routerLink="/agendar">
                <mat-icon>event</mat-icon>
                Agendar
            </a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
