<div class="container">
    <!-- Controles de visão -->
    <div class="row mb-3">
        <div class="col-12 d-flex align-items-center">
            <!-- Toggle de Visão -->
            <mat-radio-group [(ngModel)]="viewMode" class="me-3">
                <mat-radio-button value="month">Mês</mat-radio-button>
                <!-- <mat-radio-button value="week">Semana</mat-radio-button> -->
                <mat-radio-button value="day">Dia</mat-radio-button>
            </mat-radio-group>

            <!-- Filtro de pesquisa por cliente -->
            <mat-form-field appearance="outline" class="filter-field">
                <mat-label>Buscar Cliente</mat-label>
                <input
                    matInput
                    [(ngModel)]="searchTerm"
                    (ngModelChange)="onFilterSearch()"
                    placeholder="Ex: João"
                />
            </mat-form-field>
        </div>
    </div>

    <!-- FORM PARA ADICIONAR NOVO AGENDAMENTO -->
    <div class="row">
        <div class="col-12">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="row gy-2">
                <div class="col-sm-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Início</mat-label>
                        <input
                            matInput
                            [matTimepicker]="startAtPicker"
                            [ngModelOptions]="{ updateOn: 'blur' }"
                            name="startAt"
                            id="startAt"
                            #startAtModel="ngModel"
                            (ngModelChange)="onTimeChange($event)"
                            [(ngModel)]="newSchedule.startAt"
                            required
                        />
                        <mat-timepicker #startAtPicker></mat-timepicker>
                        <mat-timepicker-toggle
                            [for]="startAtPicker"
                            matSuffix
                        ></mat-timepicker-toggle>
                    </mat-form-field>
                </div>

                <div class="col-sm-3">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Término</mat-label>
                        <input
                            matInput
                            [matTimepicker]="endAtPicker"
                            name="endAt"
                            id="endAt"
                            [(ngModel)]="newSchedule.endAt"
                            [disabled]="!newSchedule.startAt"
                        />
                        <mat-timepicker #endAtPicker></mat-timepicker>
                        <mat-timepicker-toggle
                            [for]="endAtPicker"
                            matSuffix
                        ></mat-timepicker-toggle>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Selecione o cliente</mat-label>
                        <mat-select
                            name="clientId"
                            id="clientId"
                            #clientIdModel="ngModel"
                            [(ngModel)]="newSchedule.clientId"
                            required
                        >
                            <mat-option
                                *ngFor="let client of clients"
                                [value]="client.id"
                            >
                                {{ client.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div
                    class="col-sm-2 d-flex align-items-center justify-content-center"
                >
                    <button
                        type="submit"
                        mat-flat-button
                        color="primary"
                        class="w-100"
                        [disabled]="form.invalid"
                    >
                        Adicionar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Se estiver na visão de Mês, mostra o mat-calendar -->
    <div *ngIf="viewMode === 'month'" class="row mb-3">
        <div class="col-md-6">
            <mat-card class="calendar-container">
                <mat-calendar [(selected)]="selected" [dateClass]="dateClass">
                </mat-calendar>
            </mat-card>
        </div>
        <div class="col-md-6">
            <!-- Tabela de todos os agendamentos do mês (ou apenas do dia, se preferir) -->
            <div class="appointment-summary">
                <p>
                    <mat-icon>event_available</mat-icon>
                    <span> Total de agendamentos</span>
                    <br />
                    <span>Hoje: </span>
                    <strong>{{ getTotalAppointments() }}</strong>
                </p>
                <p>
                    <mat-icon>schedule</mat-icon>
                    <span> Total de horas ocupadas</span>
                    <br />
                    <span>Hoje: </span>
                    <strong>{{ getTotalHours() }}</strong>
                </p>
            </div>
            <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8 w-100"
            >
                <ng-container matColumnDef="startAt">
                    <th mat-header-cell *matHeaderCellDef>Início</th>
                    <td mat-cell *matCellDef="let schedule">
                        {{ schedule.startAt | date : "dd/MM/yyyy HH:mm" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="endAt">
                    <th mat-header-cell *matHeaderCellDef>Término</th>
                    <td mat-cell *matCellDef="let schedule">
                        {{ schedule.endAt | date : "HH:mm" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td mat-cell *matCellDef="let schedule">
                        {{ schedule.clientName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                    <td mat-cell *matCellDef="let schedule">
                        <button
                            mat-mini-fab
                            color="warn"
                            matTooltip="Excluir"
                            (click)="requestDelete(schedule)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
            <mat-paginator
                [pageSizeOptions]="[3, 5, 10]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
    </div>

    <!-- Se estiver em "week" ou "day", exibimos layout diferente -->
    <div *ngIf="viewMode !== 'month'" class="row mb-3">
        <!-- Exemplo de "Dia" -->
        <div *ngIf="viewMode === 'day'" class="col-12">
            <h3>Agendamentos do Dia {{ selected | date : "dd/MM/yyyy" }}</h3>
            <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8 w-100"
            >
                <!-- Mesmas colunas -->
                <ng-container matColumnDef="startAt">
                    <th mat-header-cell *matHeaderCellDef>Início</th>
                    <td mat-cell *matCellDef="let schedule">
                        {{ schedule.startAt | date : "HH:mm" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="endAt">
                    <th mat-header-cell *matHeaderCellDef>Término</th>
                    <td mat-cell *matCellDef="let schedule">
                        {{ schedule.endAt | date : "HH:mm" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td mat-cell *matCellDef="let schedule">
                        {{ schedule.clientName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                    <td mat-cell *matCellDef="let schedule">
                        <button
                            mat-mini-fab
                            color="warn"
                            matTooltip="Excluir"
                            (click)="requestDelete(schedule)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
            <mat-paginator
                [pageSizeOptions]="[3, 5, 10]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
    </div>
</div>
