<div class="admin-container">
  <mat-card class="admin-card">
    <mat-card-title>Administração de Agendamentos</mat-card-title>

    <div *ngIf="schedules.length === 0">
      <p>Nenhum agendamento encontrado.</p>
    </div>

    <div *ngFor="let schedule of schedules" class="schedule-item">
      <div class="schedule-info">
        <p><strong>Cliente:</strong> {{ schedule.clientName }}</p>
        <p><strong>Corte:</strong> {{ schedule.haircutName }}</p>
        <p>
          <strong>Início:</strong> {{ schedule.startAt | date : "short" }} -
          <strong>Fim:</strong> {{ schedule.endAt | date : "shortTime" }}
        </p>
      </div>

      <div class="schedule-actions">
        <mat-icon
          *ngIf="schedule.confirmed"
          class="confirmed"
          aria-label="Confirmado"
          >check_circle</mat-icon
        >
        <button
          mat-icon-button
          *ngIf="!schedule.confirmed"
          (click)="confirmSchedule(schedule.id)"
          aria-label="Confirmar"
        >
          <mat-icon color="primary">hourglass_bottom</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
