<div class="dashboard-container" [@fadeIn]>
  <mat-card class="calendar-wrapper">
    <div class="calendar-header">
      <button mat-icon-button (click)="viewDate = subMonth(viewDate)">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <h4>
        <mat-icon>calendar_month</mat-icon>
        {{ viewDate | date : "MMMM yyyy" | titlecase }}
      </h4>

      <button mat-icon-button (click)="viewDate = addMonth(viewDate)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <mwl-calendar-month-view
      [viewDate]="viewDate"
      (dayClicked)="onDateSelected($event.day.date)"
    >
    </mwl-calendar-month-view>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-title>Agendar Corte</mat-card-title>
    <mat-card-subtitle
      >Escolha uma data no calendário ao lado</mat-card-subtitle
    >

    <div *ngIf="selectedDate" class="selected-date">
      <p>
        📅 <strong>Data Selecionada:</strong>
        {{ selectedDate | date : "fullDate" }}
      </p>
    </div>

    <form
      [formGroup]="scheduleForm"
      (ngSubmit)="onSubmit()"
      class="dashboard-form"
      *ngIf="selectedDate"
    >
      <mat-form-field appearance="outline" class="form-field">
        <mat-label><mat-icon>schedule</mat-icon> Horário</mat-label>
        <mat-select formControlName="time">
          <mat-option *ngFor="let time of availableTimes" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label><mat-icon>cut</mat-icon> Tipo de Corte</mat-label>
        <mat-select formControlName="haircutTypeId">
          <mat-option value="uuid-tipo1">Corte Clássico</mat-option>
          <mat-option value="uuid-tipo2">Barba</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="scheduleForm.invalid"
        class="schedule-button"
      >
        <mat-icon>check_circle</mat-icon> Agendar
      </button>
    </form>
  </mat-card>
</div>
