<div class="dashboard-container" [@fadeIn]>
  <mat-card class="dashboard-card">
    <mat-card-title>Agendar Corte</mat-card-title>
    <mat-card-subtitle>Escolha uma data no calendário abaixo</mat-card-subtitle>

    <div *ngIf="selectedDate" class="selected-date">
      <p>📅 Data Selecionada: {{ selectedDate | date : "fullDate" }}</p>
    </div>

    <form
      [formGroup]="scheduleForm"
      (ngSubmit)="onSubmit()"
      class="dashboard-form"
    >
      <div *ngIf="selectedDate">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Horário</mat-label>
          <mat-select formControlName="time" required>
            <mat-option *ngFor="let time of availableTimes" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Tipo de Corte</mat-label>
          <mat-select formControlName="haircutTypeId" required>
            <mat-option value="uuid-tipo1">Corte Clássico</mat-option>
            <mat-option value="uuid-tipo2">Barba</mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="scheduleForm.invalid"
          class="schedule-button"
        >
          Agendar
        </button>
      </div>
    </form>
  </mat-card>

  <mat-card class="calendar-wrapper">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      (dayClicked)="onDateSelected($event.day.date)"
    ></mwl-calendar-month-view>
  </mat-card>
</div>
