.fil-col {
    width: 100%;
}

.div-button {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    display: block;
}

button[mat-flat-button] {
    width: 150px;

    @media (max-width: 576px) {
        width: 100%;
    }
}
